@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserratbold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Robotobold";
    src: url("../fonts/Roboto-Bold.ttf");
}


/*ejemplo de como llmar a la fuente */

.fuente {
    font-family: "Roboto";
    font-size: 80%;
    color: black;
}

.fuentewwd {
    font-family: "Montserratbold";
    font-size: 150%;
}

.fuentewwd2 {
    font-family: "Montserratbold";
    font-size: 90%;
    padding-top: 3vw;
    margin-right: 3vw;
}

.opacidad {
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
    opacity: 0.6;
}

.opacidad1 {
    font-weight: bold;
    color: #000000;
    ;
}

.fuentemon {
    font-family: "Montserrat";
    font-size: 150%;
    font-weight: bold;
}

.iconok {
    height: 8%;
    width: 8%;
    
}

.fuentemon2 {
    font-family: "Montserrat";
    font-size: 100%;
}

.fuentemon3 {
    font-family: "Montserrat";
    font-size: 90%;
}


/*termina ejemplo*/
body{
    overflow-x: hidden;
}


hr {
    width: 100%;
    background-color: gainsboro;
}

ul {
    list-style: none;
}

.circle {
    border-radius: 50%;
    background-color: #6E6E6E;
    width: 10vw;
    height: 10vw;
    box-shadow: 0px 0px 49px -9px rgba(0, 0, 0, 0.95);
}

.test {
    border-radius: 10%;
}

.wwd-img {
    padding-top: 13%;
    width: 80%;
    height: 80%;
}

nav {
    border-color: #014e7a;
    border-style: solid;
    border-width: 1px;
}

.lex-logo {
    width: 204px;
    height: 48px;
}

.navbar-toggler {
    border-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding: 0;
    padding-top: 4px;
}

.icon-bar {
    transition: opacity, transform;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
    display: block;
    width: 27px;
    height: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
     background-color: #febd4f;
}

.nav-link {
    transform: translatex(10%);
    margin: 20px;
}

#textoMain {
    padding-left: 15vw;
}




/* #home h2 {
     color: #014e7a;
}*/

.fondochat {
    background-color: #f3f3f3;
}

#cloud {
    background-color: #f3f3f3;
    position: relative;
    padding-top: 1%;
    width: 100%;
}

.card-body {
    /*    color: #02466c;*/
    border-right: 2.5px solid #00a988;
    margin-top: 0.8%;
    margin-bottom: 0.8%;
}

.text-card {
    padding-left: 2em;
}

.description {
    color: #ffffff;
    font-weight: bold;
}

.fondo {
    background-color: #6E6E6E;
}

.textw {
    color: white
}

.textora {
    color: #febd4f;
    font-weight: bold;
}

#platforms {
    background-color: #5c5c5c;
}

#platforms h2 {
    color: #ffffff;
}

#services {
    background-color: #027fc7;
}

#contact {
    background-color: #014e7a;
    color: white;
}

#comments {
    height: 148px;
}

#submit {
    width: 175px;
    background-color: #00a988;
    border-radius: 0px;
    border-style: none;
}

#contactbnt {
    width: 100px;
    background-color: #00a988;
    border-radius: 0px;
    border-style: none;
}

.imagenIzq {
    float: left;
    padding-right: 20px;
}

.imagenCloud {
    padding-right: 150px;
}

.card-group b>p {
    font-size: large;
}

@media screen and (min-width: 1500px) and (max-width: 1682px) {
    #textoMain {
        padding-left: 300px;
    }
}

@media screen and (min-width: 1682px) and (max-width: 1810px) {
    #textoMain {
        padding-left: 400px;
    }
}

@media screen and (min-width: 1810px) and (max-width: 1930px) {
    #textoMain {
        padding-left: 450px;
    }
}

@media screen and (min-width: 300px) and (max-width: 575px) {
    .divCirculos {
        margin-left: 40vw;
    }
    .divCirculosAbajo {
        margin-left: 40vw;
    }
    #imagenesValues .img-fluid {
        width: 17vw;
        height: 17vw;
    }
    .valores{
        text-align: center;
    }
    .description1{
        margin-left: 20px;
    }

}

@media screen and (min-width: 575px) and (max-width: 768px) {

    .description1{
        margin-left: -15px;
        font-size: small;
    }
    
}


@media screen and (min-width: 800px) and (max-width: 1800px) {
    .divCirculos {
        margin-left: 3vw;
    }
    .divCirculosAbajo {
        margin-left: 3vw;
    }
}